* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.peg,
.score {
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
    margin-bottom: .5rem;
}

.board {
    max-width: 16rem;
}